alembic==1.15.2
blinker==1.9.0
certifi==2025.1.31
charset-normalizer==3.4.1
click==8.1.8
colorama==0.4.6
distlib==0.3.9
dominate==2.9.1
filelock==3.18.0
Flask==3.0.1
Flask-Bootstrap==3.3.7.1
Flask-Cors==4.0.0
Flask-Migrate==4.1.0
Flask-SQLAlchemy==3.1.1
Flask-WTF==1.2.1
flask_react==0.0.5
greenlet==3.1.1
gunicorn==21.2.0
idna==3.10
itsdangerous==2.2.0
Jinja2==3.1.6
jsonify==0.5
Mako==1.3.10
MarkupSafe==3.0.2
packaging==24.2
platformdirs==4.3.7
pprintpp==0.4.0
psycopg2==2.9.9
psycopg2-binary==2.9.9
python-dotenv==1.0.0
requests==2.31.0
SQLAlchemy==2.0.22
typing_extensions==4.13.2
urllib3==2.4.0
virtualenv==20.25.0
visitor==0.1.3
Werkzeug==3.1.3
WTForms==3.2.1
